<!-- アカウントログアウト時 -->
<ul class="nav-list">
  <li class="nav-list-item"><%= link_to "食べログの特長と便利な使い方", :about %></li>
  <li class="nav-list-item"><%= link_to "無料会員登録", :new_account_session %></li>
  <li class="nav-list-item"><a href="#">予約確認</a></li>
  <li class="nav-list-item"><a href="#">行ったお店</a></li>
  <% if request.path != "/accounts/sign_in" %>
    <li class="nav-list-item"><a href="#">ログイン</a></li>
  <% end %>
</ul>
