<!-- アカウントログイン時 -->
<ul class="nav-list">
  <li class="nav-list-item"><a href="#">メッセージ</a></li>
  <li class="nav-list-item"><a href="#">お知らせ</a></li>
  <li class="nav-list-item"><a href="#">予約確認</a></li>
  <li class="nav-list-item"><a href="#">行ったお店</a></li>
  <li class="nav-list-item"><a href="#">保存済み</a></li>
  <li class="nav-list-item">
    <%= link_to "マイページ", '#' %>
  </li>
</ul>
<div class="row">
  <%= link_to root_path do %>
    <%= image_tag 'logo.jpg', alt: "tabelog logo", class: "brand-logo"%>
  <% end %>
</div>
