<!-- アカウントログアウト時 -->
<header>
  <div class="container">
    <div class="row">
      <%= @page_title %>
      <ul class="nav-list">
        <li class="nav-list-item">Home</li>
        <li class="nav-list-item">About</li>
        <li class="nav-list-item">Topic</li>
      </ul>
    </div>
    <div class="row">
      <h1 class="headline">
        <a href="#">食べログ</a>
      </h1>
    </div>
  </div>
</header>
