<% @page_title = "#{params[:search]}の全てのお店" %>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <h4>エリアから探す</h4><br>
    <h4>ジャンルから探す</h4>
  </div>

  <div class="col-xs-12 col-md-9">
    <%= render 'result', restaurants: @restaurants %>
  </div>
</div>
