<h3>検索結果<%= @restaurants.count %>件</h3>
<ul><% @restaurants.each do |restaurant| %>
  <li>
    <p> ------------------- </p>
    <%= restaurant.name %>
    <%= restaurant.address %>
    <%= restaurant.genre_name %>
  </li>
  <% end %>
</ul>
