<% @page_title = "#{params[:genre_name]}" %>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <h4>エリアから探す</h4><br>
    <h4>ジャンルから探す</h4>
  </div>

  <div class="col-xs-12 col-md-9">
    <h3>検索結果<%= @restaurants.count %>件</h3>
    <ul><% @restaurants.each do |restaurant| %>
        <%= image_tag restaurant.logo_image_id %>
      <li>
        <h4><%= restaurant.name %></h4>/<span><%= restaurant.genre_name %></span>
      </li>
      <% end %>
    </ul>
  </div>
</div>
