<h3>ようこそ！ <%= @fullname %>さん！</h3>

<%= link_to "オーナー情報を編集する", edit_owner_path(current_owner) %>

<p>登録されているレストランの数 <%= @restaurants.count %> 件</p>

<%= render 'restaurants_index', restaurants: @restaurants %>