<h1>Accounts::Restaurants#index</h1>
<p>Find me in app/views/accounts/restaurants/index.html.erb</p>

<% @restaurants.each do |restaurant| %>
  <%= restaurant.name %>
  <%= image_tag restaurant.logo_image_id %>
<% end %>
