// Place all the styles related to the accounts/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-genre {
  position: relative;
}

.main-genre a {
  position: absolute;
  color: white;
  top: 30px;
  left: 0;
}

.example img {
  background-color: rgba(0,0,0,0.4);
}
