// Place all the styles related to the accounts/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-genre {
  position: relative;
}

.main-genre .ganre_name {
  position: absolute;
  font-weight: bold;
  color: white;
  top: 80px;
  left: 40px;
}

.genre_mainimg {
  filter:brightness(70%);
  display: block;
}
