<div class="modal-dialog" role="document">
  <div class="modal-content">
    <%= form_with(model: @booking_history, local: true) do |f| %>


      <div class="modal-header">
        <h3 class="modal-title">レストラン名</h3>
        <h4 class="date-pople">来店日時　来店人数 名</h4>
      </div>
      <div class="label-notes">
        <%= f.label :レストランへのご要望 %>
      </div>
      <div class="notes">
        <%= f.text_area :notes, size: "50x5" %>
      </div>

      <div class="actions">
        <%= f.submit "予約する" %>
      </div>
    <% end %>
  </div>
</div>