/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

// ヘッダー
header {
  padding-top: 10px;
  margin-bottom: 10px;
  position: relative;
  border-top: 2px solid orange;
  box-shadow: 0 2px 2px -1px #eeece4;
}

.nav-list {
  position: absolute;
  list-style: none;
  top: 12px;
  right: 200px;
}

.nav-list-item {
  display: inline;
  margin-right: 20px;
}

.brand-logo {
  width: 140px;
}

// ログアウト完了
.logout-title {
  font-weight: bold;
  border-top: 3px solid #d6ceb4;
  border-bottom: 3px solid #d6ceb4;
  padding: 1rem 1rem 0.9rem 1.2rem;
}
