/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

main {
  padding: 50px;
}

// 可変margin padding 0~100
@for $i from 0 through 10 {
  .m-#{$i} {margin: #{$i * 10}px;}
  .mt-#{$i} {margin-top: #{$i * 10}px;}
  .mr-#{$i} {margin-right: #{$i * 10}px;}
  .mb-#{$i} {margin-bottom: #{$i * 10}px;}
  .ml-#{$i} {margin-left: #{$i * 10}px;}
  .mx-#{$i} {margin: 0 #{$i * 10}px;}
  .my-#{$i} {margin: #{$i * 10}px 0;}

  .p-#{$i} {padding: #{$i * 10}px;}
  .pt-#{$i} {padding-top: #{$i * 10}px;}
  .pr-#{$i} {padding-right: #{$i * 10}px;}
  .pb-#{$i} {padding-bottom: #{$i * 10}px;}
  .pl-#{$i} {padding-left: #{$i * 10}px;}
  .px-#{$i} {padding: 0 #{$i * 10}px;}
  .py-#{$i} {padding: #{$i * 10i}px 0;}
}
// フォントサイズ
.small {
  font-size: small;
}
// ヘッダー
header {
  padding-top: 10px;
  margin-bottom: 10px;
  position: relative;
  border-top: 2px solid orange;
  box-shadow: 0 2px 2px -1px #eeece4;
}

.nav-list {
  position: absolute;
  list-style: none;
  top: 12px;
  right: 200px;
}

.nav-list-item {
  display: inline;
  margin-right: 10px;
}

.brand-logo {
  width: 140px;
}

// ログアウト完了
.logout-title {
  font-weight: bold;
  border-top: 3px solid #d6ceb4;
  border-bottom: 3px solid #d6ceb4;
  padding: 1rem 1rem 0.9rem 1.2rem;
}

// ヘッダーと同じ色のボタン
.btn-orange {
  background-color: orange;
  color: white;
  &:hover{
    background-color: #ff8902;
    color: white;
  }
}
